<footer>

	<div class="content-padding">
		<div class="footer-content">

			<p>Copyright &copy; 2018 Daniel Pereira - Costa Rica</p>

			<div class="social-media-icons">
				<i class="fab fa-instagram"></i>
				<i class="fab fa-twitter"></i>
			</div>

		</div>
	</div>
</footer>